header{
margin: 50px;
background-color: dodgerblue;


}

body{
    background-color:rgb(0, 0, 0);

    color:rgba(214, 218, 171, 0.829);
    
    }
    section{
        background-color: rgb(255, 255, 255);

        margin: 50px;
        
    border: solid 4 px rgb(red,green,blue)

padding 44 px;

border: 4 px;

display: flex;

justify-content: ;

    }

. primeira chamada {

margin-right:  5%;

}

. assista mais videos {

display:flex ;
overflow-x:auto ;
gap 10 px: ;

}



