header{
margin: 50px;
background-color: dodgerblue;

justify-content: ;
}

body{
    background-color:rgb(39, 71, 35);

    color:rgba(44, 28, 189, 0.829);
    
    }
    section{
        background-color: rgb(249, 248, 253);

        margin: 50px;
        display: flex;
    border: solid 4 px rgb(red,green,blue)
    

