header{
margin: 50px;
background-color: dodgerblue;

justify-content: ;
}


body{
    background-color:rgb(39, 71, 35);

    color:rgba(44, 28, 189, 0.829);
    
    }


    section{
        background-color: rgb(124, 111, 172);

        margin: 50px;
        display: flex;
    

